@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.header-container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 1rem;
}

.date-label {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 200;
}